{% extends "layout.html" %} {% block container %}
<h2>Register an account here!</h2>
<!--
<form action="/register" method="post">
  <label for="uname">Username:</label>
  <input type="text" id="uname" placeholder="username..." name="uname" required /><br /><br />
  <label for="pword">Password:</label>
  <input type="password" id="pword" placeholder="password..." name="pword" required /><br /><br />
  <label for="confirm">Confirm Password:</label>
  <input type="password" id="confirm" placeholder="confirm password..." name="confirm" required /><br /><br />
  <input type="submit" value="Submit" />
</form>

<h3>{{ message }}</h3>
<ul>
  {% for error in errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>
-->

<h3>{{message}}</h3>
<ul>
  {% for field, errors in form.errors.items() %}
  <li>{{ " ".join(errors) }} ({{ field }})</li>
  {% endfor %}
</ul>

<form action="/register" method="POST" novalidate>
  <!-- ✅ This line inserts the CSRF token -->
  {{ form.hidden_tag() }}
  <p>{{ form.uname.label }}: {{ form.uname() }}</p>
  <p>{{ form.pword.label }}: {{ form.pword() }}</p>
  <p>{{ form.confirm.label }}: {{ form.confirm() }}</p>
  <p>{{ form.submit() }}</p>
</form>

{% endblock %}
